.form-line {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 1.325rem;

    @media #{$mq-sm-min} {
        margin-bottom: 1.5rem;
    }

    &.no-space {
        margin-bottom: 0;
    }

    &.dark {
        .label {
            background-color: $gray-darkest;
            color: $white;
        }

        .line-wrapper {
            .input {
                color: $white;

                &:-webkit-autofill {
                    background: $black;
                    box-shadow: inset 10rem 10rem $black;
                    -webkit-text-fill-color: $white;
                }
            }

            svg {
                color: $white;
            }
        }
    }

    &.error {
        .label {
            color: $red;
        }

        .line-wrapper {
            .input {
                border-color: $red!important;
                color: $red;

                &::placeholder {
                    color: $red;
                }
            }

            svg {
                color: $red;
            }
        }

        .error-msg {
            display: block;
            color: $red;
            padding-top: .5rem;
            font-size: 75%;
        }
    }

    .label {
        position: absolute;
        z-index: 2;
        top: -.45rem;
        left: .675rem;
        display: inline-block;
        background-color: $white;
        line-height: 1;
        padding: 0 .5rem;
    }

    .line-wrapper {
        position: relative;
        display: block;
        width: 100%;

        .input {
            display: block;
            position: relative;
            z-index: 0;
            width: 100%;
            border: none;
            border: 1px solid $gray-lighter;
            border-radius: .25rem;
            //box-shadow: inset 0 0 0 10rem $white;
            background-color: transparent;
            padding: 1rem;
            margin: 0;

            &.textarea {
                resize: vertical;
                min-height: 9.125rem;
                height: 9.125rem;
            }

            &.select {
                cursor: pointer;
            }

            &::placeholder {
                color: $gray-lighter;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            width: .75rem;
            height: .75rem;
            color: $gray-light;
            pointer-events: none;
        }
    }

    input[type='submit'] {
        position: absolute;
        top: -999rem;
        left: -999rem;
        z-index: -999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        width: 0;
        height: 0;
        border: none;
        background-color: transparent;
        font-size: 0;
        color: transparent;
        box-shadow: none;
        outline: none;
        line-height: 0;
    }
}

select {
    cursor: pointer;
}

textarea {
    resize: vertical;
}

input,
select,
textarea {
    box-sizing: border-box;
    appearance: none;
    background-clip: padding-box;

    &:disabled {
        cursor: not-allowed!important;
        opacity: .25;
    }
}