.home {
    .banner {
        color: $white;
        padding-top: calc(2.5rem + var(--section-space) * 1.75);
        margin-bottom: var(--section-space);

        @media #{$mq-sm-min} {
            padding-top: calc(3.5rem + var(--section-space));
            margin-bottom: calc(var(--section-space) * 1.5);
        }

        .video {
            background-color: $black;
            position: absolute;
            overflow: hidden;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 82.75%;

            @media #{$mq-sm-min} {
                height: 86.5%;
            }

            video {
                opacity: .375;
            }
        }

        .desc {
            display: block;
            width: 30rem;
            max-width: 90%;
            margin: calc(var(--section-space) / 4) 0 calc(var(--section-space) / 3) 0;
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @media #{$mq-sm-min} {
                flex-direction: row;
                align-items: center;
                gap: 1.5rem;
            }
        }

        .blackBox {
            display: block;
            position: relative;
            margin-top: calc(var(--section-space) * 1.5);
            padding: calc(var(--section-space) / 1.5) calc(var(--section-space) / 1.5) calc(var(--section-space) / 1.5) 1rem;

            @media #{$mq-sm-min} {
                margin-top: calc(var(--section-space) * 1.375);
                padding: calc(var(--section-space) / 1.5) calc(var(--section-space) / 1.5) calc(var(--section-space) / 1.5) .5rem;
            }

            @media #{$mq-lg-min} {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                padding: calc(var(--section-space) / 1.5) calc(var(--section-space) / 2) calc(var(--section-space) / 1.5) .5rem;
                width: 100%;
            }
            
            @media #{$mq-2xl-min} {
                width: 90%;
                padding: calc(var(--section-space) / 1.5) var(--section-space) calc(var(--section-space) / 1.5) .5rem;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                right: 0;
                width: 100vw;
                height: 100%;
                background-color: $black;
            }

            .title {
                display: block;
                margin-bottom: 1.5rem;

                @media #{$mq-lg-min} {
                    white-space: nowrap;
                    margin-bottom: 0;
                }

                br {
                    @media #{$mq-lg-max} {
                        display: none;
                    }
                }
            }

            .numbers {
                display: flex;
                gap: 1.5rem;
                flex-direction: column;

                @media #{$mq-sm-min} {
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                    gap: 2rem;
                    width: 100%;
                }

                @media #{$mq-lg-min} {
                    width: 65%;
                }

                .data {
                    @media #{$mq-sm-max} {
                        display: flex;
                        align-items: center;
                    }

                    .big {
                        display: flex;
                        align-items: flex-end;

                        @media #{$mq-sm-max} {
                            font-size: 3rem;
                            width: 8rem;
                        }
                    }
                }
            }
        }
    }

    .about {
        padding-bottom: var(--section-space);
        background: linear-gradient(0deg, $almost-white 40%, $white 40%);

        .bigBox {
            position: relative;

            @media #{$mq-sm-min} {
                padding-top: calc(var(--section-space) * 3);
            }

            @media #{$mq-lg-min} {
                margin-left: var(--section-space);
            }

            .imageWrapper {
                position: relative;
                overflow: hidden;
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 60vw;

                @media #{$mq-sm-min} {
                    position: absolute;
                    z-index: 0;
                    width: 100vw;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding-bottom: 0;
                }

                @media #{$mq-lg-min} {
                    width: calc(100vw - var(--section-space));
                }
            }

            .whiteBox {
                position: relative;
                z-index: 2;
                display: block;
                width: 100%;
                background-color: $pure-white;
                padding: 2rem;

                @media #{$mq-sm-min} {
                    width: 69.5%;
                    padding: calc(var(--section-space) / 1.5);
                }

                @media #{$mq-xl-min} {
                    width: 55%;
                }

                p {
                    display: block;
                    margin: calc(var(--section-space) / 4) 0 calc(var(--section-space) / 3) 0;
                }
            }
        }
    }

    .services {
        padding-bottom: var(--section-space);
        background-color: $almost-white;

        @media #{$mq-sm-min} {
            padding-bottom: calc(var(--section-space) + 4rem);
        }
    
        .top {
            padding-bottom: calc(var(--section-space) / 2);

            .flex {
                @media #{$mq-md-min} {
                    display: flex;
                    justify-content: space-between;
                    gap: 3rem;
                }
    
                h2 {
                    @media #{$mq-md-max} {
                        display: block;
                        margin-bottom: 1.25rem;
                    }
                }
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: stretch;
            gap: 1rem;

            @media #{$mq-lg-min} {
                grid-template-columns: repeat(3, 1fr);
                gap: 1.5rem;
            }

            > div {
                &:nth-child(odd) {
                    a {
                        transform: translateY(4rem);

                        @media #{$mq-lg-min} {
                            transform: none;
                        }
                    }
                }

                &:nth-child(1),
                &:nth-child(4) {
                    display: flex;

                    a {
                        @media #{$mq-lg-min} {
                            transform: translateY(4rem);
                        }
                    }
                }

                &:nth-child(2),
                &:nth-child(5) {
                    display: flex;

                    a {
                        @media #{$mq-lg-min} {
                            transform: translateY(2rem);
                        }
                    }
                }
            }
        }

        .slider {
            overflow: visible;
        }
    }

    .ctaBig {
        background: linear-gradient(0deg, $white 50%, $almost-white 50%);
    }

    .why {
        margin-bottom: var(--section-space);

        & :global {
            .row > div {
                &:first-child {
                    @media #{$mq-md-min} {
                        padding-right: 3rem;
                    }
                }

                &:last-child {
                    @media #{$mq-md-min} {
                        padding-left: 1rem;
                    }
                }
            }
        }

        h2 {
            display: block;
            margin-bottom: calc(var(--section-space) / 3);
        }

        .imageWrapper {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 0;
            padding-bottom: 100%;

            &.firstImage {
                margin-top: calc(var(--section-space) / 3);

                @media #{$mq-md-max} {
                    width: 65%;
                    padding-bottom: 65%;
                    margin-top: calc(var(--section-space) / 2);
                }
            }

            &.secondImage {
                margin-bottom: calc(var(--section-space) / 3);

                @media #{$mq-md-max} {
                    width: 80%;
                    padding-bottom: 80%;
                    margin: -20% 0 calc(var(--section-space) / 2) 20%;
                }
            }
        }

        p {
            display: block;
        }
    }
}